body{
    background-color: burlywood;
}

h1{
    text-align: center;
    margin-top: 30px;
    text-transform: uppercase;
}
#footer{
    text-align: center;
    margin-top: 30px;
}

#body{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 100px;
}
#gomb{
    text-align: center;
    margin-bottom: 20px;
}

table{
    border: 1px solid brown;
    margin: 0 auto 0 auto;
    width: 350px;
}
th,td{
    border: 1px solid brown;
}
#hibas{
    text-align: center;
    margin-top: 300px;
}
#fokep{
    margin-bottom: 50px;
    text-align: center;
    margin-top: 30px;
}
hr{
    width: 70%;
    margin: 0 auto 0 auto;
}
